APP_NAME="WPS Micro"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
DOCKER_APP_URL=http://localhost

VITE_DEV_SERVER_URL=
VITE_BACKEND_ORIGIN=http://localhost:8000
VITE_MANIFEST_PATH=public/build/.vite/manifest.json
VITE_BUILD_PATH=build

SESSION_NAME=WPSMICROSESSID
SESSION_LIFETIME=0
SESSION_PATH=/
SESSION_DOMAIN=
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax

LOG_PATH=application/Cache/app.log

TWIG_VIEWS_PATH=application/Views
TWIG_CACHE_PATH=application/Cache
TWIG_AUTO_RELOAD=true
TWIG_AUTOESCAPE=html

DB_DRIVER=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_FORWARD_PORT=3307
DB_ROOT_PASSWORD=root
DB_DATABASE=wps_micro
DB_USERNAME=wps_micro
DB_PASSWORD=secret
DB_CHARSET=utf8mb4
DB_MIGRATIONS_PATH=application/Database/migrations
